html,body,p,h1{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}

header{
    display: flex;
    align-items: center;
    padding: 30px;
}
header>#logo{
    height: 75px;
    width: 75px;
    line-height: 75px;
    text-align: center;
    background-color: #ccc;
    border: solid 2px #000;
    border-radius: 75px;
    font-size: 32px;
    font-weight: 700;
}
header>h1{
    margin-left: 15px;
    font-weight: bold;
    font-size: 2rem;
}
header>nav{
    flex-grow: 2;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
}
a{
    width: 75px;
}

main{
    display: flex;
    padding: 15px;
}
article{
    margin: 15px;
    width: 100%;
    border: solid 2px #000;
    display: flex;
    flex-direction: column;
}
article h1{
    height: 50px;
    width: 50%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-color: #ccc;
    border-left: solid 2px #000;
    border-bottom: solid 2px #000;
}
article p{
    text-align: justify;
    padding: 15px;
}

#content{
    /*               footer: height  margin-top */
    min-height: calc(100vh - 100px - 15px);
}
footer{
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #ccc;
    border-top: solid 2px #000;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}
footer>p:nth-of-type(2){
    font-weight: bold;
}

#hamburger{
    height: 75px;
    width: 75px;
    background-color: #ccc;
    border: solid 2px #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    display: none;
}
#hamburger>div{
    height: 2px;
    width: 45px;
    background-color: #000;
}
@media all and (max-width: 900px){
    main {
        flex-wrap: wrap;
    }
    header>h1,header>nav{display: none;}
    #hamburger{display: flex;}
    header{
        justify-content: space-between;
    }
}